<!doctype html>
<html>
<head>
    <title>Coffee Shop</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container">

    <div class="jumbotron text-center">
        <h1>Café BlackBean</h1>
        <span>Come In & Get Wired.</span>
        <img id="logo" src="https://cdn3.iconfinder.com/data/icons/business-212/48/coffee-cup-512.png" alt="Cereal Bar Profile Photo">

        <p>Login or Signup:</p>

        <h2>Barista</h2>
        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span>Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span>Signup</a>
        <h2>Cashier</h2>
        <a href="/cashlogin" class="btn btn-default"><span class="fa fa-user"></span>Login</a>
        <a href="/cashsignup" class="btn btn-default"><span class="fa fa-user"></span>Signup</a>
    </div>

</div>
</body>
</html>
